[user]
        email = j.mendez@rogers.com
        name = ObjectiveTruth
[pull]
        rebase = true
[rerere]
        enabled = true
[color]
        ui = true
[alias]
        commitv = commit -v
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        s = status
	co = checkout
	cob = checkout -b
[push]
        default = simple
[core]
	excludesfile = ~/.gitignore
