<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dziad.text-actions</string>
	<key>connections</key>
	<dict>
		<key>0F17EA0F-912B-416E-BBB1-85CADE2ED8DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D319AC3-B1A1-45C8-8B9C-AE9F4A1FAA1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F17EA0F-912B-416E-BBB1-85CADE2ED8DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35740F34-D2B9-4E0A-B629-D1086856C652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39E54AE8-DBC0-4BD1-A6E7-FA6490B435C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41A5BCE8-9867-49E2-94C9-24048205483C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>421A86D3-BCEB-47F1-BB86-F4F0EC9D9A85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>421A86D3-BCEB-47F1-BB86-F4F0EC9D9A85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ECC7797-C958-41D2-842C-4EB35E5C133B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FE53E61-530A-4651-B6FF-1842383C9ED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6961FABF-189A-41D1-A5F3-4D6939CBB07D</key>
		<array/>
		<key>6FE53E61-530A-4651-B6FF-1842383C9ED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BCD9B15-FA19-4AEA-8BE0-D342570313D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96F750CA-B3AA-4E5C-94EE-9CA3B0589AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C89C3774-C99B-46DF-B210-2240417A8648</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>830F7E63-3913-469D-BF54-F63CE282C425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>880D3288-94EB-4F78-BFDD-C3A0EFD13D76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>837095BB-9740-4AF4-8F76-EBAF57D21F89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC976E0A-A7ED-4062-83DA-EDA7E593EB68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>880D3288-94EB-4F78-BFDD-C3A0EFD13D76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96F750CA-B3AA-4E5C-94EE-9CA3B0589AFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>983C8876-30AB-43F3-8999-F95159965EA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DA3B4F-415C-402B-B99E-732398DB4632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E47634E-3669-4796-B7BD-6E4431AD3D51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E80D03D4-B236-45C4-9B25-5DC0DBEEE631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C89C3774-C99B-46DF-B210-2240417A8648</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAE995C4-EBE5-4CCF-AB95-6ACDA0A8E7E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39E54AE8-DBC0-4BD1-A6E7-FA6490B435C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC976E0A-A7ED-4062-83DA-EDA7E593EB68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0A9F5FC-F49C-4641-BFFA-2365436D4D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35740F34-D2B9-4E0A-B629-D1086856C652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DA3B4F-415C-402B-B99E-732398DB4632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E80D03D4-B236-45C4-9B25-5DC0DBEEE631</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC653622-D3D1-4E8A-8002-2A225F79464F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB5F3AF6-E293-4519-97A2-2F71940A9D7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dziad Borowy</string>
	<key>description</key>
	<string>Text transformation actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Text Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.decode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6FE53E61-530A-4651-B6FF-1842383C9ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4ECC7797-C958-41D2-842C-4EB35E5C133B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>837095BB-9740-4AF4-8F76-EBAF57D21F89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CC976E0A-A7ED-4062-83DA-EDA7E593EB68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php decodeBase64.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>880D3288-94EB-4F78-BFDD-C3A0EFD13D76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode Base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>830F7E63-3913-469D-BF54-F63CE282C425</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>Transform text...</string>
				<key>text</key>
				<string>Text Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>FC653622-D3D1-4E8A-8002-2A225F79464F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php encodeBase64.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E80D03D4-B236-45C4-9B25-5DC0DBEEE631</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode Base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9E47634E-3669-4796-B7BD-6E4431AD3D51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode HTML Entities</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>983C8876-30AB-43F3-8999-F95159965EA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php decodeHtml.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0DA3B4F-415C-402B-B99E-732398DB4632</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6961FABF-189A-41D1-A5F3-4D6939CBB07D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>CB5F3AF6-E293-4519-97A2-2F71940A9D7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode HTML Entities</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>D0A9F5FC-F49C-4641-BFFA-2365436D4D5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php encodeHtml.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35740F34-D2B9-4E0A-B629-D1086856C652</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php decodeUnicode.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>421A86D3-BCEB-47F1-BB86-F4F0EC9D9A85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode Unicode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>41A5BCE8-9867-49E2-94C9-24048205483C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Trim text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C89C3774-C99B-46DF-B210-2240417A8648</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>UPPER CASE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1D319AC3-B1A1-45C8-8B9C-AE9F4A1FAA1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>0F17EA0F-912B-416E-BBB1-85CADE2ED8DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>lower case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7BCD9B15-FA19-4AEA-8BE0-D342570313D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>96F750CA-B3AA-4E5C-94EE-9CA3B0589AFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Capital Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>CAE995C4-EBE5-4CCF-AB95-6ACDA0A8E7E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>39E54AE8-DBC0-4BD1-A6E7-FA6490B435C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F17EA0F-912B-416E-BBB1-85CADE2ED8DA</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>1D319AC3-B1A1-45C8-8B9C-AE9F4A1FAA1A</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>35740F34-D2B9-4E0A-B629-D1086856C652</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>39E54AE8-DBC0-4BD1-A6E7-FA6490B435C7</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>1530</real>
		</dict>
		<key>41A5BCE8-9867-49E2-94C9-24048205483C</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>421A86D3-BCEB-47F1-BB86-F4F0EC9D9A85</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>4ECC7797-C958-41D2-842C-4EB35E5C133B</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>6961FABF-189A-41D1-A5F3-4D6939CBB07D</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>6FE53E61-530A-4651-B6FF-1842383C9ED5</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7BCD9B15-FA19-4AEA-8BE0-D342570313D5</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1335</real>
		</dict>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>830F7E63-3913-469D-BF54-F63CE282C425</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>837095BB-9740-4AF4-8F76-EBAF57D21F89</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>880D3288-94EB-4F78-BFDD-C3A0EFD13D76</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>96F750CA-B3AA-4E5C-94EE-9CA3B0589AFA</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>1365</real>
		</dict>
		<key>983C8876-30AB-43F3-8999-F95159965EA8</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>9E47634E-3669-4796-B7BD-6E4431AD3D51</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>C89C3774-C99B-46DF-B210-2240417A8648</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>CAE995C4-EBE5-4CCF-AB95-6ACDA0A8E7E9</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>CB5F3AF6-E293-4519-97A2-2F71940A9D7F</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>CC976E0A-A7ED-4062-83DA-EDA7E593EB68</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D0A9F5FC-F49C-4641-BFFA-2365436D4D5F</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>D0DA3B4F-415C-402B-B99E-732398DB4632</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>E80D03D4-B236-45C4-9B25-5DC0DBEEE631</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>FC653622-D3D1-4E8A-8002-2A225F79464F</key>
		<dict>
			<key>note</key>
			<string>Add Universal Actions as a fallback search in Alfred's Features &gt; Default Results &gt; Setup Fallback Results</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.4</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
